.logo {
    position: fixed;
    float: left;
    margin: 0px 46px;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.logo a img {
    width: 300px;
}

header {
    /* height: 100px; */
    /* border-bottom: 1px solid #797779; */
    position: fixed;
    width: 100%;
    z-index: 6;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

header.page-templete-body__scroll {
    margin-top: -200px;
}

.page-templete-body__scroll .logo {
    top: -200px;
}

header.page-templete-body__OnScroll nav {
    margin-top: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #dfdfdf;
    background: #FFF;
}

header.page-templete-body__OnScroll nav>.container>.menu>ul>li>a {
    font-size: 18px;
    color: #5c4187;
}

header.page-templete-body__OnScroll nav>.container>.menu>ul>li>a.btn-custom {
    border: 3px solid #5c4187;
}

header.page-templete-body__OnScroll .logo {
    color: #5c4187;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: #fff;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #5c4187;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: #5c4187;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.078em;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #800080;
    display: none;
}

.menu ul li {
    padding: 20px;
}

.menu .btn-custom {
    border: 3px solid #5c4187;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.menu .btn-custom:hover {
    background-color: #b1dce5;
    color: #800080;
    border: 3px solid #b1dce5;
}

@media(max-width: 786px) {
    .logo {
        position: fixed;
        top: 0;
        margin: 0px 20px !important;
    }
    nav ul {
        max-height: 0px;
        background: #000;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}

@media (min-width:1025px) {
    header nav .menu ul li.item::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #5c4187;
        transition: width .3s;
    }
    header.page-templete-body__OnScroll nav .menu ul li.item::after {
        background: #5c4187;
    }
    header nav .menu ul li.item:hover::after {
        width: 100%;
    }
}

@media (max-width:1366px) {
    nav ul li a {
        font-size: 16px !important;
    }
}