<header>
    <nav>
        <div class="container">
            <div class="menu-icon">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
            <div class="logo">
                <a routerLink="/home"><img src="../../assets/images/smarTrans_Logo.png" alt="smarTrans_Logo" title="smarTrans_Logo" srcset="../../assets/images/smarTrans_Logo.png"></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="item"><a routerLink="/about-us">About Us</a></li>
                    <li class="item"><a routerLink="/features">Features</a></li>
                    <li><a routerLink="/contact-us" class="btn-custom">Request A Demo</a></li>

                </ul>
            </div>

        </div>

    </nav>
</header>