.app-about__page__hero.about__inner {
    min-height: 900px;
}

.about__inner {
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.app-about__page__hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0.8;
    background: #FFF;
}

.about__inner .app-about__text {
    text-align: center;
}

.app-about__page__hero .app-about__inner__text {
    margin: 0;
}

.about__inner h1 {
    font-size: 6rem;
    margin: 0 0 15px;
    /* font-weight: 900; */
    color: #5c4187;
}

.app-about__page__hero .app-about__inner__text h1 span {
    position: relative;
}

.about__inner h2 {
    font-weight: 300;
    color: #777777;
    font-size: 48px;
    margin: 0;
}

.app-about__page__hero .app-about__text {
    position: absolute;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.app-hero-arrow span {
    width: 43px;
    height: 24px;
    background: url(../../assets/images/down@2x_gray.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -21.5px;
    z-index: 5;
    cursor: pointer;
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

.app-about-page-inner__bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.app-about-page-inner__bottom .container {
    position: relative;
}

.app-about-us-section .app-about-text h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 30px;
}

.app-about-us-section .app-about-text h3 span {
    font-size: 70px;
    color: #7d7d7d;
    display: block;
    margin: 0px 0 0 0px;
    position: relative;
    z-index: -1;
}

.app-about-text-title {
    color: #5c4187;
}

.mobile_app_development .app-about-shape {
    left: 15%;
    width: 250px;
    height: 225px;
}

.web_application_development .app-about-shape {
    width: 250px;
    height: 225px;
    left: 14%;
}

.solution-container {
    padding-top: 30px;
}

.app-about-shape {
    width: 609px;
    height: 613px;
    background: url(../../assets/images/about__shape.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    z-index: -2;
    top: 0;
    left: 25%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.app-section {
    margin: 0 0 140px;
    z-index: 3;
    position: relative;
}

.app-title-about-management {
    padding: 45px 45px 65px;
}

.app-section-title>h2 {
    z-index: 1;
    font-weight: 900;
    margin: 0 0 80px;
    display: inline-block;
    color: #5c4187;
    position: relative;
    width: 100%;
}

.app-section-title {
    padding: 55px 25px 15px;
}

.app-section-title h2 strong {
    display: block;
    font-weight: 900;
}

.app-section-title h2 strong {
    position: absolute;
    left: 68%;
    font-size: 2em;
    top: -20px;
}

.app-section-title h2 span {
    font-size: 150px;
    color: #7d7d7d;
    position: absolute;
    right: 5%;
    top: 40px;
    z-index: -1;
    white-space: nowrap;
}

.app-section-title>h2::before {
    content: '';
    width: 310px;
    height: 310px;
    background: #d1bdee;
    position: absolute;
    right: -115px;
    top: -60px;
    z-index: -1;
    border-radius: 50%;
}

.app-about-image {
    position: absolute;
    right: -193px;
    top: 0;
    left: 0;
}

.app-about-image img {
    height: 500px;
    width: 850px;
}

.pos {
    position: relative;
}

.app-about-padding {
    padding-top: 100px;
}

.employee {
    width: 100%;
    background-color: #5c4187;
    margin: 10px auto;
    display: block;
    overflow: hidden;
    height: 400px;
    border-radius: 10px;
}

.employee:hover>.employee-image {
    margin-top: -100px;
}

.employee-image {
    background-color: #fff;
    height: 400px;
    width: 100%;
    transition: 0.5s;
}

.employee-image img {
    height: 100%;
}

.employee-name {
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.employee-name h1 {
    font-size: 30px;
}

.employee-name span {
    font-size: 20px;
    color: yellow;
    padding: 0px;
}

.employee-social-link ul li {
    position: relative;
    bottom: -120px;
}

.employee-social-link ul {
    text-align: center;
    list-style: none;
}

.employee-social-link ul li {
    display: inline-block;
    margin: 7px;
    background-color: #5c4187;
    padding: 10px;
    border-radius: 50%;
    line-height: 0.1;
    margin-left: -5px;
}

.employee-social-link i {
    font-size: 15px;
    color: #fff;
    animation-name: rotate-icon;
}

.employee-social-link ul li:nth-child(1) {
    transition: 1.0s;
}

.employee-social-link ul li:nth-child(2) {
    transition: 1.3s;
}

.employee-social-link ul li:nth-child(3) {
    transition: 1.6s;
}

.employee-social-link ul li:nth-child(4) {
    transition: 1.9s;
}

.employee-social-link ul li:nth-child(5) {
    transition: 2.2s;
}

.employee:hover>.employee-details .employee-social-link ul li {
    bottom: 250px;
}

.app-services__title h3 {
    font-size: 36px;
}

.app-services__title h3:after {
    margin-top: 8px;
}

.app-services__title h3:after {
    content: '';
    width: 102px;
    height: 16px;
    background: #5c4187;
    border-radius: 8px;
    display: block;
    margin: 3px 0 15px;
}

.app-about__inner__text h1 {
    line-height: 150%;
}

.app-about__inner__text h1 span {
    background: #5c4187;
    margin-top: -60px;
    color: #fff;
    padding: 0 15px;
}

.app-smarTrans__icon li {
    list-style: none;
    position: relative;
    font-size: 18px;
}

.mobile_app .solution {
    background-image: url(../../assets/images/mobile_app.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.figure {
    margin: 0;
}

.img-fluid {
    width: 100%;
}

.verticle-table {
    padding-left: 0;
    padding-right: 0;
}

.app-smarTrans__icon li::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('../../assets/images/truck.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
    background-position: 0px 5px;
}

.app-solution__inner {
    padding: 15px 50px 0px 50px;
}

.app-solution__inner .app-solution__column-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-top: 0;
}

.app-solution__wrapper h2.title {
    background: #5c4187;
    color: #fff;
    display: block;
    padding: 5px 15px;
}

.app-solution__wrapper h4.title {
    color: #7d7d7d;
}

@media (min-width: 1900px) {
    .app-section-title h2 strong {
        left: 43% !important;
    }
}

@media (min-width: 1600px) {
    .app-wraper .container {
        max-width: 1522px;
    }
    .app-section-title h2 strong {
        left: 57%;
    }
    .app-section {
        padding: 100px 0px 0px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    .m-bottom {
        margin-bottom: 140px !important;
    }
}

@media (max-width:1680px) {
    .app-solution__inner {
        padding: 9px 10px 15px 16px;
    }
    .app-solution__wrapper p {
        font-size: 18px;
    }
    .mobile_app_development.app-solution__inner {
        padding: 9px 10px 34px 30px;
    }
    .about__inner h1 {
        font-size: 4rem;
    }
    .app-about-shape {
        width: 350px;
        height: 310px;
        left: 15%;
    }
}

@media (max-width:1400px) {
    .app-smarTrans__icon li {
        font-size: 16px;
    }
    .app-solution__wrapper h4.title {
        font-size: 1.1rem;
    }
    .app-solution__wrapper .title {
        font-size: 1.2rem;
    }
    .app-solution__inner {
        padding: 0px 0px 0px 10px;
    }
    .app-solution__wrapper p {
        margin-bottom: 5px;
        font-size: 16px !important;
    }
    .app-about__page__hero.about__inner {
        min-height: 500px;
    }
    .app-smarTrans__icon li {
        font-size: 16px;
    }
    .app-title-about-management h2 strong {
        left: 37%;
    }
    .app-about-us-section .app-about-text h3 {
        font-size: 30px !important;
    }
    .app-about-us-section .app-about-text h3 span {
        font-size: 50px !important;
        margin: 0 0 0 0px;
    }
    .app-section-title h2 span {
        font-size: 126px;
    }
    .app-section-title h2 strong {
        top: 2px
    }
    .app-solution__picture,
    .app-solution__figure__wrapper img {
        height: 500px;
    }
    .app-section-title h2 strong {
        font-size: 1.5em;
    }
    .app-features-sec {
        padding-top: 105px !important;
    }
}