<article class="app-about__page">
    <div class="app-about__page__hero about__inner">
        <div class="app-about__text">
            <div class="container">
                <div class="app-about__inner__text wow fadeInUp">
                    <h1 class="">
                        we <span>digitalize</span> your fleet management with simplified <span>custom-made</span> solution.



                    </h1>

                </div>
            </div>
        </div>
        <div class="app-about-page-inner__bottom">
            <div class="container">
                <div class="app-hero-arrow"><span></span></div>
            </div>
        </div>
    </div>
    <div class="app-about-us-section mt-5 pb-5">
        <div class="container clearfix">
            <div class="row">
                <div class="col-12 col-md-7 col-sm-12 col-lg-7">
                    <div class="app-about-text">
                        <h3 class="app-about-text-title "><strong class="wow slideInLeft">
                            here are the benefits
                        </strong> <span class="wow slideInRight" data-wow-duration="3s"> you get it there</span></h3>
                        <p>We give our absolute duty to bring the best at each phase of the item improvement measure, from intending to conveyance. With this arrangement your business can remain associated with live control, intuitive guides, consistent
                            observing and correspondence. SmartTrans is a serious arrangement with a mix of most recent innovation, statistical surveying and long stretches of aptitude and gives the accompanying advantages.</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                                <ul class="app-smarTrans__icon">
                                    <li>Seamless UX/UX experience</li>
                                    <li>Completely Operational solutions</li>
                                    <li>Customizable platforms</li>
                                    <li>Adaptability to changing market requirements</li>
                                    <li>Quality of service</li>
                                    <li>Flexibility</li>
                                    <li>Scalability</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                                <ul class="app-smarTrans__icon">
                                    <li>Seamless UX/UX experience</li>
                                    <li>Completely Operational solutions</li>
                                    <li>Customizable platforms</li>
                                    <li>Adaptability to changing market requirements</li>
                                    <li>Quality of service</li>
                                    <li>Flexibility</li>
                                    <li>Scalability</li>
                                </ul>
                            </div>
                        </div>

                        <div class="app-about-shape"></div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-sm-12 col-lg-5 pos">
                    <div class="app-about-image">
                        <img src="../../assets/images/text.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="app-section pt-0 mt-0">
        <div class="container-fluid">

            <div class="app-section-title app-title-about-management">
                <h2>
                    <strong class="wow slideInRight">We provide the best solution </strong>
                    <span class="wow slideInLeft">
                        for your Business
                        </span>

                </h2>
            </div>
        </div>

    </div>
    <div class="app-section app-about-padding pt-5 ">
        <div class="container-fluid px-lg-0">

            <div class="app-section-title app-team-about-management pt-0 px-lg-0">
                <div class="team-member-item-wrapper">
                    <div class="team-member-item">
                        <div class="">
                            <div class="solution-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 verticle-table">
                                        <div class="solution">
                                            <img src="../../assets/images/web_application.jpg" class="img-fluid" alt="" srcset="">
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="solution-content app-solution__inner web_application_development">
                                            <div class="app-solution__column-inner">
                                                <div class="app-solution__wrapper">
                                                    <div class="app-solution__text__column app-solution__content">
                                                        <div class="app-solution__wrapper">
                                                            <h2 class="title">
                                                                Web Application Development
                                                            </h2>
                                                            <p>
                                                                Web application will give a visualization of trucks and all transaction details at fingertip along with overview of financials. You will get the following features with the admin panel. This helps in managing compete business and drive profits.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="app-solution__text__column app-solution__content">
                                                        <div class="app-solution__wrapper">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                                    <h4 class="title">
                                                                        Line of Business Dashboards
                                                                    </h4>
                                                                    <ul class="app-smarTrans__icon pl-5">
                                                                        <li>Financial Report</li>
                                                                        <li>RTO Details</li>
                                                                        <li>Route Planners</li>
                                                                        <li>Booking History</li>
                                                                        <li>Analytical Reports</li>
                                                                        <li>Employee & Driver Management</li>
                                                                        <li>Data repository</li>
                                                                        <li>Daily Vehicle Tracking Reports</li>
                                                                        <li>Payment Outstanding Reports</li>
                                                                        <li>All kind of Ledgers</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                                    <h4 class="title">
                                                                        Third Party Integrations
                                                                    </h4>
                                                                    <ul class="app-smarTrans__icon pl-5">
                                                                        <li>GPS Devices</li>
                                                                        <li>Diesel Cards</li>
                                                                        <li>Happay Cards</li>
                                                                        <li>Fast Tags</li>
                                                                        <li>Tally & other accounting</li>
                                                                        <li>Aadhar & GST </li>

                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="app-about-shape"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="solution-content app-solution__inner mobile_app_development">
                                            <div class="app-solution__column-inner">
                                                <div class="app-solution__wrapper">
                                                    <div class="app-solution__text__column app-solution__content">
                                                        <div class="app-solution__wrapper">
                                                            <h2 class="title">
                                                                Mobile Application
                                                            </h2>
                                                            <p>
                                                                The application is designed with two logins
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="app-solution__text__column app-solution__content">
                                                        <div class="app-solution__wrapper">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                                    <h4 class="title">
                                                                        User Login
                                                                    </h4>
                                                                    <p>It helps to manage your drivers, employees and vehicles in an easy way. The application makes communication easier with constant tracking of drivers and vehicles.</p>
                                                                    <ul class="app-smarTrans__icon pl-5">
                                                                        <li>Vehicle Documents- view & share </li>
                                                                        <li>Tyre- Analysis & Management</li>
                                                                        <li>Repair Management</li>
                                                                        <li>Trip documents, tracking, transactions & ledgers</li>
                                                                        <li>Reports</li>
                                                                        <li>Notifications and support</li>
                                                                        <li>User Attendance</li>

                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                                    <h4 class="title">
                                                                        Driver Login
                                                                    </h4>
                                                                    <p>It helps reduce the need of manual input; one can access trip details remotely. This application will make the work of drivers easier and communicate in a better way.</p>
                                                                    <ul class="app-smarTrans__icon pl-5">
                                                                        <li>Location Tracking</li>
                                                                        <li>Drivers Work & Ledgers</li>
                                                                        <li>Details of Trip Bookings</li>
                                                                        <li>L/R, POD & miscellaneous documents upload</li>
                                                                        <li>Notifications</li>
                                                                        <li>Diesel Request </li>
                                                                        <li>
                                                                            Cash Request
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="app-about-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 verticle-table mobile_app">
                                        <div class="solution app-solution__vc_inner">
                                            <div class="app-solution__picture">
                                                <div class="app-solution__picture app-solution__pic__content">
                                                    <figure class="app-solution__figure">
                                                        <div class="app-solution__figure__wrapper">
                                                            <img src="../../assets/images/mobile_app.png" alt="" srcset="">
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</article>