<article class="app-about__page">
    <div class="app-about__page__hero about__inner">
        <div class="app-about__text">
            <div class="container">
                <div class="app-about__inner__text wow fadeInUp">
                    <h1 class="">
                        We are the team to support you any time with <span>Customization &
                        Digitalize</span> your trucking business
                    </h1>
                    <h2 class="">Get your transformation done as per your feel</h2>
                </div>
            </div>
        </div>
        <div class="app-about-page-inner__bottom">
            <div class="container">
                <div class="app-hero-arrow"><span></span></div>
            </div>
        </div>
    </div>
    <div class="app-about-us-section mt-5 pb-5">
        <div class="container clearfix">
            <div class="row">
                <div class="col-12 col-md-7 col-sm-12 col-lg-7">
                    <div class="app-about-text">
                        <h3 class="app-about-text-title "><strong class="wow slideInLeft">
                            what we stand for
                        </strong> <span class="wow slideInRight" data-wow-duration="3s">Productivity & Growth</span></h3>
                        <p>We stand for our commitment to bring the best at every stage of the product development process, from planning to delivery. With this solution your business can run with efficiency and stay connected with live control, continuous
                            monitoring and communication. SmarTrans is an advanced solution with a blend of latest technology, market research and years of expertise and gives the following benefits.</p>
                        <div class="app-about-shape"></div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-sm-12 col-lg-5 pos">
                    <div class="app-about-image">
                        <img src="../../assets/images/text.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="app-section pt-5">
        <div class="container-fluid">

            <div class="app-section-title app-title-about-management">
                <h2>
                    <strong class="wow slideInRight">Our Management </strong>
                    <span class="wow slideInLeft">
                            team
                        </span>

                </h2>
            </div>
        </div>

    </div>
    <div class="app-section app-about-padding pt-5">
        <div class="container-fluid">

            <div class="app-section-title app-team-about-management pt-0">
                <div class="team-member-item-wrapper">
                    <div class="team-member-item">
                        <div class="container">
                            <div class="employee-container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 employee-1">
                                        <div class="employee">
                                            <div class="employee-image">
                                                <img src="../../assets/images/team_1.jpg" class="img-fluid d-block m-auto" alt="employee-image">
                                            </div>
                                            <div class="employee-details">
                                                <div class="employee-name">
                                                    <h1 class="text-center">Prasad Maganti<br><span class="employee-role">President / CEO</span></h1>
                                                </div>
                                                <div class="employee-social-link">
                                                    <ul>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faFacebook" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faInstagram" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faLinkedin" class="text-white"></fa-icon>
                                                            </a>

                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="app-about-shape"></div>
                                    </div>
                                    <div class="col-lg-4 employee-1">
                                        <div class="employee">
                                            <div class="employee-image">
                                                <img src="../../assets/images/team_2.jpg" class="img-fluid d-block m-auto" alt="employee-image">
                                            </div>
                                            <div class="employee-details">
                                                <div class="employee-name">
                                                    <h1 class="text-center">Sushma Maganti<br><span class="employee-role">Vice President / CTO</span></h1>
                                                </div>
                                                <div class="employee-social-link">
                                                    <ul>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faFacebook" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faInstagram" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faLinkedin" class="text-white"></fa-icon>
                                                            </a>

                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 employee-1">
                                        <div class="employee">
                                            <div class="employee-image">
                                                <img src="../../assets/images/team_3.jpg" class="img-fluid d-block m-auto" alt="employee-image">
                                            </div>
                                            <div class="employee-details">
                                                <div class="employee-name">
                                                    <h1 class="text-center">K.V. Sainath<br><span class="employee-role">Director of Operations</span></h1>
                                                </div>
                                                <div class="employee-social-link">
                                                    <ul>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faFacebook" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faInstagram" class="text-white"></fa-icon>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <fa-icon [icon]="faLinkedin" class="text-white"></fa-icon>
                                                            </a>

                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="app-section pt-5 m-bottom">
        <div class="container-fluid">
            <div class="app-section-title app-title-about-management">
                <h2>
                    <strong class="wow slideInRight">What you get with </strong>
                    <span class="wow slideInLeft">
                        all our services
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <div class="app-section pt-5 m-bottom">
        <div class="container-fluid">
            <div class="app-section-title app-title-about-management">
                <div class="app-our_services">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            End - End business digitization
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            We digitalize your operations with a feasible transport and logistics application development.Our solution will give profit boost to business with reduced fuel and operational costs. Efficiency, reduced data works and saving time.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            Data Privacy and Safety
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            Backed by years of experience we develop safe and reliable solution for transport industry, why to compromise on data privacy and compliance.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            Simplified User Navigation
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            We figure out the navigational elements which are important for the business and design the application in such a way that, it is very easy for the user to access the app.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            Operations control
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            We provide you with everything you need to make an impact on your business. Services designed to help improve your fleet operations at every level.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            Customizable platform
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            We design the application based on your needs and requirements along with industry benchmarked features.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="app-services">
                                    <div class="app-services__title">
                                        <h3>
                                            Zero paperwork
                                        </h3>
                                    </div>
                                    <div class="app-services__content">
                                        <p>
                                            With our solution there is no need to maintain any physical documents, invoices, bills, ledgers or any paper related records, everything will be stored in the application and will be on fingertip access.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>