<article class="app-about__page">
    <div class="app-about__page__hero about__inner">
        <div class="app-about__text">
            <div class="container">
                <div class="app-about__inner__text">
                    <h1>
                        We are the team to support you any time with customization and
                        <span> digitalize</span>
                        your trucking business
                    </h1>
                    <h2>Get your transformation done as per your feel</h2>
                </div>
            </div>
        </div>
        <div class="app-about-page-inner__bottom">
            <div class="container">
                <div class="app-hero-arrow"><span></span></div>
            </div>

        </div>

    </div>
    <div class="app-about-us-section mt-5 pb-5">
        <div class="container clearfix">
            <div class="row">
                <div class="col-12 col-md-7 col-sm-12 col-lg-7">
                    <div class="app-about-text">
                        <h3 class="" >what we stand
                            for <span class="">we give
                                a damn</span></h3>
                        <p>We stand for our commitment to bring the best at every stage of the product development process, from planning to delivery. With this solution your business can run with efficiency and stay connected with live control, continuous monitoring and communication. SmarTrans is an advanced solution with a blend of latest technology, market research and years of expertise and gives the following benefits.</p>
                        <div class="app-about-shape"></div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-sm-12 col-lg-5">
                    <div class="app-about-image">
                        <img
                            src="../../assets/images/text.jpg" alt=""
                            class="img-fluid rounded-circle">
                        </div>
                </div>
            </div>
           
          
        </div>
    </div>
    <div class="app-section pt-5">
        <div class="container-fluid">
           
                <div class="app-section-title app-title-about-management">
                    <h2>
                       <strong  class="wow slideInRight">Management </strong>
                        <span class="wow slideInLeft">
                            team
                        </span>
    
                    </h2>
                </div>
            </div>
            
    </div>
</article>