<section class="site-banner">
    <div class="app-full_inner">
        <div class="app-banner_inner">
            <div class="container">
                <h5 class="app-banner_subtitle heading">WE'VE GOT YOUR BACK</h5>
                <h1 class="app-banner_title mt-5 mb-0">we help trucking businesses to get their fleet operations  <span>digitalized</span></h1>
                <h6 class="app-banner_subtitle subtitle-two mt-5 text-uppercase">Get Proficiency &amp; Automation in Your Transport Business </h6>
            </div>
           
        </div>
        <div class="app-hero-arrow"></div>
    </div>
   
</section>
<section class="app-wraper mt-5">
    <div class="app-section">
        <div class="container-fluid">
            <div class="app-section-title">
                <h2>
                   <strong  class="wow slideInRight">what makes us</strong>
                    <span class="wow slideInLeft">
                        unique
                    </span>

                </h2>
            </div>
        </div>
    </div>
        <div class="container mt-5 custom-mb">
           
            <div class="app-unique__items">
                <div class="app-unique__item">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
                           
                            <div class="app-unique__text pt-5">
                                <h3 class="pt-5">
                                    <div class="wow slideInLeft">
                                        Partners for
                                    </div>
                                    <div class="wow slideInRight">
                                        productivity and faster growth
                                    </div>
                                </h3>
                                <div class="app-unique__subtext">
                                    <p>Say goodbye to manual fleet management and partner with us to get custom made solution for your
                                        transport business. Enjoy the benefits of effective day to day operations.</p>
                                </div>
                                <div class="app-unique__counter">
                                  
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
                            <div class="wrapper">
                                <div class="wave"></div>
                              </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="app-unique__items app-unique__second__items">
                <div class="app-unique__item">
                    <div class="row">
                       
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12">
                            <div class="wrapper">
                                <div class="wave"></div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12">
                           
                            <div class="app-unique__text pt-5">
                                <h3 class="pt-5">
                                    <div class="wow slideInRight">
                                        Your in-house
                                    </div>
                                    <div class="wow slideInLeft">
                                        technical team
                                    </div>
                                </h3>
                                <div class="app-unique__subtext">
                                    <p>Why to waste time on maintaining paperwork and monitoring operations, our solutions replace uneven
                                        and time-consuming processes. We will provide you a solution to grow your business at a competitive
                                        price.</p>
                                </div>
                                <div class="app-unique__counter">
                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="app-unique__items app-unique__third__items">
                <div class="app-unique__item">
                    <div class="row">
                       
                        <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
                            <div class="app-unique__text pt-5">
                                <h3 class="pt-5">
                                    <div class="wow slideInLeft">
                                        We customize to
                                    </div>
                                    <div class="wow slideInRight">
                                        your requirements
                                    </div>
                                </h3>
                                <div class="app-unique__subtext">
                                    <p>We understand that all customer requirements are not the same, our solution will address client issues, pain points and align their digital goals towards the overall vision of the business. We create value to you with creative design and development.</p>
                                </div>
                                <div class="app-unique__counter">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
                            <div class="wrapper">
                                <div class="wave"></div>
                              </div>
                           
                           
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="app-section">
        <div class="container-fluid">
           
                <div class="app-section-title app-title-case-studies">
                    <h2>
                       <strong  class="wow slideInRight">A couple of our </strong>
                        <span class="wow slideInLeft">
                            Case studies
                        </span>
    
                    </h2>
                </div>
            </div>
            
        </div>


</section>