<section class="site-banner">
    <div class="app-full_inner">
        <div class="app-banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 col-xs-12">
                        <h5 class="app-banner_subtitle heading" style="color:#5c4187">WE'VE GOT YOUR BACK</h5>
                        <h1 class="app-banner_title mt-2 mb-0" style="color:#5c4187">We help transport business <span>Digitize</span> <br> fleet operations</h1>
                        <h6 class="app-banner_subtitle subtitle-two mt-3 text-uppercase" style="color:#5c4187">Bring Automation &amp; Efficiency to your business </h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-xs-12"></div>
                </div>

            </div>

        </div>
        <div class="app-hero-arrow"><span></span></div>
    </div>

</section>

<section class="app-wraper mt-5">
    <div class="app-section">
        <div class="container-fluid">
            <div class="app-section-title">
                <h2>
                    <strong class="wow slideInRight">what makes us</strong>
                    <span class="wow slideInLeft">
                        unique
                    </span>

                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-5 custom-mb be-margin app-main__containerpanel">
        <div class="row" [style.height.px]="contentHeight">
            <div class="app-unique__items">
                <div class="app-unique__item">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12">

                            <div class="app-unique__text">
                                <h3 class="">
                                    <strong class="wow fadeInDown">
                                        Partners for
                                    </strong>
                                    <div class="wow slideInRight">
                                        Productivity & Faster growth
                                    </div>
                                </h3>
                                <div class="app-unique__subtext">
                                    <p>Say goodbye to manual fleet management and partner with us to get custom made solution for your transport business. Enjoy the benefits of effective day to day operations.</p>

                                </div>
                                <div class="app-unique__counter">

                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 pos">
                            <div class="app-productivity productivity-bg">
                                <div class="js-scroller-content">

                                    <div id="start">
                                    </div>



                                    <div class=" js-projects" data-ui="dark" id="results">
                                        <div class="container container--inner p-0">

                                            <ul class="projects">
                                                <!-- Line 1 -->
                                                <li class="project project-large project--top ui-dark-background js-project">
                                                    <div class="project__content">
                                                        <div class="project__background project__background--type1">
                                                            <img class="js-parallax" src="../../assets/images/product_fastgrowth.jpg" data-src="../../assets/images/product_fastgrowth.jpg?noresize" alt="92% customer satisfaction rating " data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(20%)&quot;}"
                                                                data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-20%)&quot;}">
                                                        </div>



                                                    </div>
                                                </li>


                                            </ul>


                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row content_height">
            <div class="app-unique__items app-unique__second__items">
                <div class="app-unique__item">
                    <div class="row flex-column-reverse flex-md-row" [style.height.px]="contentHeight">

                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 pos">

                            <div class="app-productivity" #EleHeight>
                                <div class="js-scroller-content">

                                    <div id="start">
                                    </div>



                                    <div class=" js-projects" data-ui="dark" id="results">
                                        <div class="container container--inner p-0">

                                            <ul class="projects">
                                                <!-- Line 1 -->
                                                <li class="project project-large project--top ui-dark-background js-project">
                                                    <div class="project__content">
                                                        <div class="project__background project__background--type1">
                                                            <img class="js-parallax" src="../../assets/images/monitoring_operations.jpg?noresize" data-src="../../assets/images/monitoring_operations.jpg?noresize" alt="92% customer satisfaction rating for an insurance provider’s website" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(20%)&quot;}"
                                                                data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-20%)&quot;}">
                                                        </div>



                                                    </div>
                                                </li>


                                            </ul>


                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 order-md-1">

                            <div class="app-unique__text">
                                <h3 class="custom-pd">
                                    <div class="wow slideInRight">
                                        Your in-house
                                    </div>
                                    <div class="wow slideInLeft">
                                        Technical team
                                    </div>
                                </h3>
                                <div class="app-unique__subtext custom-pd">
                                    <p>Why to waste time on maintaining paperwork and monitoring operations, our solutions replace uneven and time-consuming processes. We will provide you a solution to grow your business at a competitive price.
                                    </p>
                                </div>
                                <div class="app-unique__counter">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row content_height" [style.height.px]="contentHeight">
            <div class="app-unique__items app-unique__third__items app-unique__technical__team">
                <div class="app-unique__item">
                    <div class="row">

                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12">
                            <div class="app-unique__text">
                                <h3 class="">
                                    <div class="wow slideInLeft">
                                        We customize to
                                    </div>
                                    <div class="wow slideInRight">
                                        your requirements
                                    </div>
                                </h3>
                                <div class="app-unique__subtext">
                                    <p>We understand that all customer requirements are not the same, our solution will address client issues, pain points and align their digital goals towards the overall vision of the business. We create value to you with
                                        creative design and development.</p>
                                </div>
                                <div class="app-unique__counter">

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 pos">
                            <div class="app-productivity requirements">
                                <div class="js-scroller-content">

                                    <div id="start">
                                    </div>



                                    <div class=" js-projects" data-ui="dark" id="results">
                                        <div class="container container--inner p-0">

                                            <ul class="projects">
                                                <!-- Line 1 -->
                                                <li class="project project-large project--top ui-dark-background js-project">
                                                    <div class="project__content">
                                                        <div class="project__background project__background--type1">
                                                            <img class="js-parallax" src="../../assets/images/customize_requirement.jpg?noresize" data-src="../../assets/images/customize_requirement.jpg?noresize" alt="92% customer satisfaction rating for an insurance provider’s website" data-parallax-0-100="{&quot;transform&quot;: &quot;translateY(20%)&quot;}"
                                                                data-parallax-100-0="{&quot;transform&quot;: &quot;translateY(-20%)&quot;}">
                                                        </div>



                                                    </div>
                                                </li>


                                            </ul>


                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="app-section">
        <div class="container-fluid">

            <div class="app-section-title app-title-case-studies">
                <h2>
                    <strong class="wow slideInRight">A couple of our </strong>
                    <span class="wow slideInLeft">
                            Case studies
                        </span>

                </h2>
            </div>
        </div>

    </div>

    <!-- <div class="app-portfolio__section ">
        <div class="container">
            <div class="app-portfolio-bg">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="app-portfolio-item">
                            <div class="app-portfolio__title">
                                <h3>RITU LOGISTICS</h3>
                            </div>
                        </div>
                        <div class="app-portfolio__hover__display">
                            <div class="app-portfolio__item__content">
                                <h2>RITU LOGISTICS 25</h2>
                                <div class="app-portfolio__subitem__content">
                                    <h3>Problem:</h3>
                                    <p>RITU Group, one of the largest transportation groups in Rajasthan, did not have a technical platform for their business. They wanted a way out for all their operations at one place to serve their customers with more
                                        efficiency.
                                    </p>
                                </div>

                                <div class="app-portfolio__subitem__content">
                                    <h3>smarTrans Solution:</h3>
                                    <p>smarTrans helped the RITU group with a Web application and a Mobile application. The Web application solves the problem of paperwork and it maintains a digital database, where all the documents, details of everyday
                                        work, invoices, insights, accounts and tyre management will be on fingertips of the user. On the other hand, mobile application is designed with two logins- user and driver, this eliminates the communication gap
                                        and helps tracking the shipments with effective interaction.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="app-portfolio__image flex">

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div> -->

    <div class="container-fluid p-0">
        <div class="app-case-sutdy app-casse-study__tabs">

            <ul class="app-case-study__tabsmenu">
                <li class="menu__item" (click)="menu_one()">
                    <p class="menu-item__text app-item__text">RITU Logistics</p>
                </li>
                <li class="menu__item menu_item_two" (click)="menu_two()">
                    <p class="menu-item__text app-item__text">MANYU Logistics</p>
                </li>
            </ul>
            <div class="app-case-study__tabscontent">
                <div class="app-case-study__tabpanel">
                    <div class="app-case-study__tab_inner tabinner">
                        <div class="app-case-study-reveal image">
                            <div class="app-case-study-tab__image">
                                <div aria-hidden="true" style="width: 100%;padding-bottom: 85.3659%;"></div>
                                <img class="tab__images" [src]="currentImgUrl">
                                <picture>
                                    <source media="(min-width:650px)" [srcset]="currentImgUrl">
                                    <source media="(min-width:465px)" [srcset]="currentImgUrl">
                                    <img [src]="currentImgUrl" alt="Flowers" class="tab__main_images" style="width:auto;">
                                </picture>
                            </div>
                        </div>
                        <div class="app-case-study-content">
                            <div class="app-case-study-item-text">
                                <h3 class="app-case-study__heading_wrapper">
                                    {{heading}}
                                </h3>
                            </div>
                            <div class="app-case-study-item-text fadeSe">
                                <h4>{{subHeading}}</h4>
                                <p>{{text}}</p>
                            </div>
                            <div class="app-case-study-item-text">
                                <h4>{{subHeading_2}}</h4>
                                <p>
                                    {{solutionText}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>